<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>graffiti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BFED78D1D8395D900253DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFED7A11D8395DA00253DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFED7AC1D8395DA00253DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
